<div class="container coasters-index">

    <h1 style="font-weight: 100">{{name}}</h1>

    <h4>Descripción</h4>
    <p>{{description}}</p>

    <hr>
    <a href="/parks" class="btn btn-dark">Volver</a>

</div>